In [ ]:
!pip install pandas
!pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
app_starts_july_df = pd.read_csv("../dataset/app starts july.txt", delimiter="\t")
app_starts_july_df.head()

                   dateCreated                                userId
0  2017-07-31 21:24:51.4230000  c6adac02-336f-4cfb-9478-f7b822200215
1  2017-07-31 21:10:24.9810000  4b498ee2-2207-45d6-805e-929491a0bb6a
2  2017-07-31 20:58:27.6010000  e49dd902-816e-4e32-8320-9580340eaa1d
3  2017-07-31 20:41:32.7670000  b28aaf42-476f-489d-8b90-f430a3788c5a
4  2017-07-29 16:51:55.2170000  4bfb581c-a205-4189-bac1-c579fb92c575

In [3]:
app_starts_july_df.userId.nunique()

4919

In [4]:
app_starts_july_df.shape

(39969, 2)

In [5]:
app_starts_df = pd.read_csv("../dataset/app starts.txt", delimiter="\t")
app_starts_df.head()

                   dateCreated                                userId
0  2017-06-30 14:14:54.7930000  50e72534-a4f4-40d7-96d5-ecbe4eb314e9
1  2017-06-30 14:03:13.0100000  b3712849-595e-403f-84d2-4698439056b0
2  2017-06-28 16:26:48.3830000  99cea50b-3ecf-4102-8290-997eaf32a6b6
3  2017-06-27 10:23:29.9430000  78c06433-9ea8-4835-aff5-f64b262d0fb4
4  2017-06-27 10:11:27.6340000  510c5f9e-de54-45ee-909c-c14103130e5e

In [6]:
app_starts_df.userId.nunique()

20073

In [7]:
app_starts_df.shape

(144104, 2)

In [8]:
brochure_views_july_df = pd.read_csv("../dataset/brochure views july.txt", delimiter="\t")
brochure_views_july_df.head()

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id
0,10670800401,a1bf423c-35d2-4509-8ad2-ec262e46bdb8,2017-07-30 23:55:20.4010000,44,182139.0,631732085
1,12024284821,C9DAFB1D-5D4C-40C4-B3F7-9C542594D128,2017-07-29 12:34:07.0660000,2,3000.0,708990288
2,12026473907,C9DAFB1D-5D4C-40C4-B3F7-9C542594D128,2017-07-29 12:33:21.5520000,26,41000.0,631734737
3,12026471343,C9DAFB1D-5D4C-40C4-B3F7-9C542594D128,2017-07-29 12:32:48.5690000,2,28000.0,709711204
4,12026471276,C9DAFB1D-5D4C-40C4-B3F7-9C542594D128,2017-07-29 12:32:39.8430000,4,6000.0,709626332

In [9]:
brochure_views_july_df.userId.nunique()

3751

In [10]:
brochure_views_july_df.brochure_id.nunique()

6322

In [11]:
brochure_views_july_df.page_turn_count.min(), brochure_views_july_df.page_turn_count.max()

(0, 257)

In [12]:
brochure_views_july_df.shape

(74431, 6)

In [13]:
brochure_views_df = pd.read_csv("../dataset/brochure views.txt", delimiter="\t")
brochure_views_df.head()

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.5390000,30,95172.0,672239440
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.6970000,2,4000.0,673861625
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.9170000,1,14000.0,660764240
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.5970000,64,168000.0,672658544
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.1970000,1,33000.0,660764240

In [14]:
brochure_views_df.userId.nunique()

10943

In [15]:
brochure_views_df.brochure_id.nunique()

17147

In [16]:
brochure_views_df.page_turn_count.min(), brochure_views_df.page_turn_count.max()

(1, 375)

In [17]:
brochure_views_df.shape

(279213, 6)

In [18]:
installs_df = pd.read_csv("../dataset/installs.txt", delimiter="\t")
installs_df.head()

,id,InstallDate,productId,userId,model,campaignId
0,37371890,2017-05-04 10:06:27.8070000,de.kaufda.kaufda,5fc13850-de51-4426-96ce-72aaec895abb,"ipad2,7",000000
1,36979918,2017-04-24 09:27:16.1730000,com-bonial-kaufda,b13a035e-e9bf-49db-8f93-b49d491bef53,sm-g800f,3iikhy
2,37371070,2017-05-04 16:05:09.5680000,de.kaufda.kaufda,5deb0aad-43bb-4ee1-868b-98f36c3d5bbf,"iphone8,4",tl3cy8
3,36897929,2017-04-22 13:18:18.4370000,com-bonial-kaufda,64707e97-d5e1-4622-a89a-bebf8432fd33,sm-g955f,000000
4,36606053,2017-04-15 14:03:51.1990000,com-bonial-kaufda,770a391d-eda5-423b-b672-845f1e12661f,sm-j320h,000000

In [19]:
installs_df.shape

(20000, 6)

In [20]:
installs_df.campaignId.nunique()

933

In [21]:
installs_df.userId.nunique()

20000

In [22]:
installs_df.productId.unique()

array(['de.kaufda.kaufda', 'com-bonial-kaufda', 'de-kaufda-android'],
      dtype=object)

In [23]:
installs_df[:100].model.unique()

array(['ipad2,7', 'sm-g800f', 'iphone8,4', 'sm-g955f', 'sm-j320h',
       'gt-n7105', 'GT-I9300', 'sm-n9005', 'gt-i9505', 'sm-a500fu',
       'sm-j500fn', 'iphone9,3', 'sm-g935f', 'gt-i9195', 'sm-g901f',
       'gt-i9515', 'iphone6,2', 'iPhone9,3', 'lg-h850', 'sm-t210',
       'gt-i9301i', 'iphone5,2', 'f5121', 'sm-j100h', 'huawei+scl-l01',
       'HUAWEI+VNS-L31', 'iphone8,1', 'sm-g903f', 'sm-n910f', 'iphone7,2',
       'sm-t535', 'gt-i9300', 'huawei+cun-l21', 'f8331', 'sm-g925f',
       'sm-t530', 'SM-G920F', 'sm-j710f', 'sm-g930f', 'sm-t230',
       'SM-T580', 'sm-g800h', 'sm-a300fu', 'd5803', 'gt-s7562',
       'sm-g920f', 'sm-j320f', 'ipad4,4', 'sm-a510f', 'GT-I9301I',
       'huawei+y360-u61', 'ipad3,6', 'redmi+note+3', 'iphone9,4',
       'lg-d620', 'f3111', 'mha-l29'], dtype=object)

In [24]:
installs_df[installs_df.model == "sm-g955f"].head()

,id,InstallDate,productId,userId,model,campaignId
3,36897929,2017-04-22 13:18:18.4370000,com-bonial-kaufda,64707e97-d5e1-4622-a89a-bebf8432fd33,sm-g955f,000000
464,37763395,2017-05-12 21:46:39.9090000,com-bonial-kaufda,4149ded5-d9cb-43a9-92eb-9b6d0a1b37e1,sm-g955f,000000
492,36852563,2017-04-21 20:38:46.8890000,com-bonial-kaufda,d23f2e65-c27e-4cf9-a4b6-bec06f282723,sm-g955f,000000
714,38409114,2017-05-30 19:22:00.7700000,com-bonial-kaufda,66bc056e-57ad-40c5-9029-56f2f16d8d3b,sm-g955f,000000
953,36775119,2017-04-19 11:36:19.8690000,com-bonial-kaufda,ffaf75f0-a10d-4b59-b8c3-700da4758e90,sm-g955f,000000

In [25]:
print("**** brochure_views *****")
print(brochure_views_df.columns)
print(brochure_views_july_df.columns)

print("**** app_starts *****")
print(app_starts_df.columns)
print(app_starts_july_df.columns)

print("**** installs *****")
print(installs_df.columns)

**** brochure_views *****
Index(['id', 'userId', 'dateCreated', 'page_turn_count', 'view_duration',
       'brochure_id'],
      dtype='object')
Index(['id', 'userId', 'dateCreated', 'page_turn_count', 'view_duration',
       'brochure_id'],
      dtype='object')
**** app_starts *****
Index(['dateCreated', 'userId'], dtype='object')
Index(['dateCreated', 'userId'], dtype='object')
**** installs *****
Index(['id', 'InstallDate', 'productId', 'userId', 'model', 'campaignId'], dtype='object')

In [26]:
brochure_views_df[brochure_views_df.userId == "64707e97-d5e1-4622-a89a-bebf8432fd33"]

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id
19248,6110098132,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-04-24 13:38:02.6840000,18,36000.0,670596015
20942,6086310882,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-04-23 10:44:42.5860000,40,161000.0,669810850
153931,6342029972,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-05-08 19:24:12.4570000,25,53000.0,676033070
153932,6342019852,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-05-08 19:23:40.1170000,25,27000.0,675999196
153962,6341976422,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-05-08 19:21:16.0240000,8,140000.0,675457873
172211,6248183532,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-05-03 13:34:37.3720000,38,29000.0,672280670
172212,6248176832,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-05-03 13:34:08.1630000,20,27000.0,672280670
191564,7155422341,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-06-26 18:21:57.0730000,38,38000.0,695219814
191565,7092864772,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-06-26 18:21:16.1810000,50,40000.0,693961177
191566,7092861802,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-06-26 18:21:02.4190000,19,11000.0,696294627
191567,7092860212,64707e97-d5e1-4622-a89a-bebf8432fd33,2017-06-26 18:20:54.3360000,2,8000.0,686182377

In [27]:
brochure_views_july_df[brochure_views_july_df.userId == "64707e97-d5e1-4622-a89a-bebf8432fd33"]

Empty DataFrame
Columns: [id, userId, dateCreated, page_turn_count, view_duration, brochure_id]
Index: []

In [28]:
app_starts_df[app_starts_df.userId == "64707e97-d5e1-4622-a89a-bebf8432fd33"]

                        dateCreated                                userId
3546    2017-06-18 14:37:37.9440000  64707e97-d5e1-4622-a89a-bebf8432fd33
5971    2017-06-12 22:01:10.1370000  64707e97-d5e1-4622-a89a-bebf8432fd33
19005   2017-05-03 13:33:59.7640000  64707e97-d5e1-4622-a89a-bebf8432fd33
21714   2017-04-28 19:59:15.8070000  64707e97-d5e1-4622-a89a-bebf8432fd33
24570   2017-06-17 16:23:33.1480000  64707e97-d5e1-4622-a89a-bebf8432fd33
28712   2017-04-29 01:35:00.5760000  64707e97-d5e1-4622-a89a-bebf8432fd33
51908   2017-05-08 19:21:14.6090000  64707e97-d5e1-4622-a89a-bebf8432fd33
51949   2017-06-26 18:20:45.3800000  64707e97-d5e1-4622-a89a-bebf8432fd33
69823   2017-05-11 14:06:54.7120000  64707e97-d5e1-4622-a89a-bebf8432fd33
73750   2017-05-06 20:26:25.5530000  64707e97-d5e1-4622-a89a-bebf8432fd33
94984   2017-04-23 10:44:42.4750000  64707e97-d5e1-4622-a89a-bebf8432fd33
107879  2017-04-22 13:18:18.5500000  64707e97-d5e1-4622-a89a-bebf8432fd33
119102  2017-04-29 08:20:28.7230000  64707e97-d5e1-4622-a89a-bebf8432fd33
119165  2017-04-25 21:46:27.3920000  64707e97-d5e1-4622-a89a-bebf8432fd33
143851  2017-04-24 13:37:47.6700000  64707e97-d5e1-4622-a89a-bebf8432fd33

In [29]:
app_starts_july_df[app_starts_july_df.userId == "64707e97-d5e1-4622-a89a-bebf8432fd33"]

                       dateCreated                                userId
29098  2017-07-22 22:32:35.4240000  64707e97-d5e1-4622-a89a-bebf8432fd33
33720  2017-07-11 15:41:56.5040000  64707e97-d5e1-4622-a89a-bebf8432fd33

In [30]:
installs_df[installs_df.userId == "64707e97-d5e1-4622-a89a-bebf8432fd33"]

,id,InstallDate,productId,userId,model,campaignId
3,36897929,2017-04-22 13:18:18.4370000,com-bonial-kaufda,64707e97-d5e1-4622-a89a-bebf8432fd33,sm-g955f,000000

In [31]:
installs_df.shape, installs_df.userId.nunique()

((20000, 6), 20000)

In [32]:
brochure_views_df['origin'] = "past"
brochure_views_july_df['origin'] = "july"
brochure_views_df.shape, brochure_views_july_df.shape

((279213, 7), (74431, 7))

In [33]:
brochure_views_df.id.nunique()

279213

In [34]:
train_df = brochure_views_df.append(brochure_views_july_df, ignore_index=True)
train_df.shape

C:\Users\eias\AppData\Local\Temp\ipykernel_19808\3178870620.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_df = brochure_views_df.append(brochure_views_july_df, ignore_index=True)

(353644, 7)

In [35]:
train_df.head()

,id,userId,dateCreated,page_turn_count,view_duration,brochure_id,origin
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.5390000,30,95172.0,672239440,past
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.6970000,2,4000.0,673861625,past
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.9170000,1,14000.0,660764240,past
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.5970000,64,168000.0,672658544,past
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.1970000,1,33000.0,660764240,past

In [36]:
train_df = train_df.rename(columns = {'dateCreated': 'brochure_dateCreated'}, inplace = False)

In [37]:
train_df.id.nunique()

353644

In [38]:
app_starts_df['app_origin'] = "past"
app_starts_july_df['app_origin'] = "july"

In [39]:
train_app_df = app_starts_df.append(app_starts_july_df, ignore_index=True)

C:\Users\eias\AppData\Local\Temp\ipykernel_19808\2429464619.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_app_df = app_starts_df.append(app_starts_july_df, ignore_index=True)

In [40]:
train_df.head()

,id,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.5390000,30,95172.0,672239440,past
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.6970000,2,4000.0,673861625,past
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.9170000,1,14000.0,660764240,past
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.5970000,64,168000.0,672658544,past
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.1970000,1,33000.0,660764240,past

In [41]:
train_app_df.head()

,dateCreated,userId,app_origin
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past
1,2017-06-30 14:03:13.0100000,b3712849-595e-403f-84d2-4698439056b0,past
2,2017-06-28 16:26:48.3830000,99cea50b-3ecf-4102-8290-997eaf32a6b6,past
3,2017-06-27 10:23:29.9430000,78c06433-9ea8-4835-aff5-f64b262d0fb4,past
4,2017-06-27 10:11:27.6340000,510c5f9e-de54-45ee-909c-c14103130e5e,past

In [42]:
train_app_df = train_app_df.rename(columns = {'dateCreated': 'app_start_dateCreated'}, inplace = False)

In [43]:
train_app_df.shape

(184073, 3)

In [44]:
train_app_df[train_app_df.app_start_dateCreated == '2017-06-30 14:14:54.7930000']

,app_start_dateCreated,userId,app_origin
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past

In [45]:
train_df[train_df.brochure_dateCreated == '2017-06-30 14:14:54.7930000']

Empty DataFrame
Columns: [id, userId, brochure_dateCreated, page_turn_count, view_duration, brochure_id, origin]
Index: []

In [46]:
installs_df.columns

Index(['id', 'InstallDate', 'productId', 'userId', 'model', 'campaignId'], dtype='object')

In [47]:
installs_df[installs_df.userId == '50e72534-a4f4-40d7-96d5-ecbe4eb314e9'].InstallDate.unique()

array(['2017-04-21 13:16:18.5990000'], dtype=object)

In [48]:
train_df.userId.nunique(), installs_df.userId.nunique()

(11061, 20000)

In [49]:
train_df[train_df.userId == '0715AF30-52A5-4936-BA65-D3A65A822363']

,id,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
52478,5859928322,0715AF30-52A5-4936-BA65-D3A65A822363,2017-04-09 14:07:00.7590000,34,134000.0,666027879,past
52484,5859684902,0715AF30-52A5-4936-BA65-D3A65A822363,2017-04-09 13:50:03.3420000,30,177000.0,665749226,past
52485,5859784782,0715AF30-52A5-4936-BA65-D3A65A822363,2017-04-09 13:56:52.1690000,1,6000.0,541614364,past
52486,5859782142,0715AF30-52A5-4936-BA65-D3A65A822363,2017-04-09 13:56:40.5350000,1,1000.0,665749226,past

In [50]:
installs_df[installs_df.userId == '0715AF30-52A5-4936-BA65-D3A65A822363']

Empty DataFrame
Columns: [id, InstallDate, productId, userId, model, campaignId]
Index: []

In [51]:
len(set(train_df.userId.unique()) - set(installs_df.userId.unique()))

2458

In [52]:
len(set(train_app_df.userId.unique()) - set(installs_df.userId.unique()))

151

In [53]:
len(set(train_df.userId.unique()) - set(train_app_df.userId.unique()))

2464

In [54]:
train_df.userId.nunique(), train_app_df.userId.nunique(), installs_df.userId.nunique()

(11061, 20075, 20000)

In [55]:
train_df.brochure_dateCreated.min(), train_df.brochure_dateCreated.max()

('2017-04-01 00:29:01.7110000', '2017-07-31 23:59:12.1720000')

In [56]:
train_app_df.app_start_dateCreated.min(), train_app_df.app_start_dateCreated.max()

('2017-04-01 00:07:05.0000000', '2017-07-31 23:59:31.5100000')

In [57]:
installs_df.InstallDate.min(), installs_df.InstallDate.max()

('2017-04-01 00:07:03.0000000', '2017-05-31 23:45:33.9950000')

In [58]:
train_app_df[train_app_df.app_start_dateCreated == '2017-06-30 14:14:54.7930000']

,app_start_dateCreated,userId,app_origin
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past

In [59]:
installs_df[installs_df.userId == '50e72534-a4f4-40d7-96d5-ecbe4eb314e9']

,id,InstallDate,productId,userId,model,campaignId
2009,36840989,2017-04-21 13:16:18.5990000,com-bonial-kaufda,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,sm-g950f,000000

In [60]:
train_app_df[(train_app_df.userId == '50e72534-a4f4-40d7-96d5-ecbe4eb314e9') & (train_app_df.app_start_dateCreated == '2017-04-21 13:16:18.8280000')]

,app_start_dateCreated,userId,app_origin
142034,2017-04-21 13:16:18.8280000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past

In [61]:
train_df[(train_df.userId == '50e72534-a4f4-40d7-96d5-ecbe4eb314e9') & (train_df.brochure_dateCreated == '2017-04-21 13:17:16.4390000')]

,id,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
26470,6055159222,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,2017-04-21 13:17:16.4390000,44,83906.0,669818703,past

In [62]:
train_app_df.head()

,app_start_dateCreated,userId,app_origin
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past
1,2017-06-30 14:03:13.0100000,b3712849-595e-403f-84d2-4698439056b0,past
2,2017-06-28 16:26:48.3830000,99cea50b-3ecf-4102-8290-997eaf32a6b6,past
3,2017-06-27 10:23:29.9430000,78c06433-9ea8-4835-aff5-f64b262d0fb4,past
4,2017-06-27 10:11:27.6340000,510c5f9e-de54-45ee-909c-c14103130e5e,past

In [63]:
installs_df.head()

,id,InstallDate,productId,userId,model,campaignId
0,37371890,2017-05-04 10:06:27.8070000,de.kaufda.kaufda,5fc13850-de51-4426-96ce-72aaec895abb,"ipad2,7",000000
1,36979918,2017-04-24 09:27:16.1730000,com-bonial-kaufda,b13a035e-e9bf-49db-8f93-b49d491bef53,sm-g800f,3iikhy
2,37371070,2017-05-04 16:05:09.5680000,de.kaufda.kaufda,5deb0aad-43bb-4ee1-868b-98f36c3d5bbf,"iphone8,4",tl3cy8
3,36897929,2017-04-22 13:18:18.4370000,com-bonial-kaufda,64707e97-d5e1-4622-a89a-bebf8432fd33,sm-g955f,000000
4,36606053,2017-04-15 14:03:51.1990000,com-bonial-kaufda,770a391d-eda5-423b-b672-845f1e12661f,sm-j320h,000000

In [64]:
train_app_df.shape, installs_df.shape

((184073, 3), (20000, 6))

In [65]:
train_app_df2 = pd.merge(train_app_df, installs_df,
                        how="left", on=["userId"])
train_app_df2.shape

(184073, 8)

In [66]:
train_app_df2.head()

,app_start_dateCreated,userId,app_origin,id,InstallDate,productId,model,campaignId
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past,36840989.0,2017-04-21 13:16:18.5990000,com-bonial-kaufda,sm-g950f,000000
1,2017-06-30 14:03:13.0100000,b3712849-595e-403f-84d2-4698439056b0,past,37125830.0,2017-04-28 15:28:20.5460000,com-bonial-kaufda,sm-g935f,000000
2,2017-06-28 16:26:48.3830000,99cea50b-3ecf-4102-8290-997eaf32a6b6,past,37547780.0,2017-05-09 20:45:19.7230000,com-bonial-kaufda,sm-j510fn,000000
3,2017-06-27 10:23:29.9430000,78c06433-9ea8-4835-aff5-f64b262d0fb4,past,37860542.0,2017-05-15 13:29:37.3770000,com-bonial-kaufda,sm-g900f,000000
4,2017-06-27 10:11:27.6340000,510c5f9e-de54-45ee-909c-c14103130e5e,past,37462735.0,2017-05-07 08:03:04.5730000,com-bonial-kaufda,sm-t561,000000

In [67]:
train_app_df2.model.unique()

array(['sm-g950f', 'sm-g935f', 'sm-j510fn', ...,
       'trekstor+surftab+theatre+13.3', 'HUAWEI+G730-U10', 'b10'],
      dtype=object)

In [68]:
train_app_df2[train_app_df2.userId == '0171deea-40bd-4c4e-a1a8-8e316d402051']

,app_start_dateCreated,userId,app_origin,id,InstallDate,productId,model,campaignId
67040,2017-05-15 01:31:24.3600000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,NaN,NaN,NaN,NaN,NaN
67043,2017-05-15 00:58:52.3620000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,NaN,NaN,NaN,NaN,NaN
93715,2017-04-15 16:05:43.2570000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,NaN,NaN,NaN,NaN,NaN
104205,2017-04-06 12:57:58.2510000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,NaN,NaN,NaN,NaN,NaN
123400,2017-04-19 01:46:37.7370000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,NaN,NaN,NaN,NaN,NaN
149995,2017-07-08 02:11:08.7440000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,NaN,NaN,NaN,NaN,NaN
155667,2017-07-01 09:36:45.4120000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,NaN,NaN,NaN,NaN,NaN
174646,2017-07-10 13:45:27.3450000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,NaN,NaN,NaN,NaN,NaN

In [69]:
train_app_df2.model.unique()

array(['sm-g950f', 'sm-g935f', 'sm-j510fn', ...,
       'trekstor+surftab+theatre+13.3', 'HUAWEI+G730-U10', 'b10'],
      dtype=object)

In [70]:
train_app_df2.campaignId.astype(str).min(),train_app_df2.campaignId.astype(str).max()

('000000', 'zhqyx6')

In [71]:
liste = np.random.randint(0,100,size=(100, 1))
liste.min(), liste.max()

(0, 99)

In [72]:
r = lambda: random.randint(0,255)

train_app_df2.id = train_app_df2.id.fillna(0)
train_app_df2.productId = train_app_df2.productId.fillna(0)
train_app_df2.model = train_app_df2.model.fillna("XXX")
#train_app_df2.campaignId = train_app_df2.campaignId.fillna('%02X%02X%02X' % (r(),r(),r()))
train_app_df2.campaignId = train_app_df2.campaignId.fillna('XXXXXX')
train_app_df2.InstallDate = train_app_df2.InstallDate.fillna('2000-01-01 00:00:01.0000000')

In [73]:
train_app_df2.InstallDate.astype(str).min()

'2000-01-01 00:00:01.0000000'

In [74]:
train_app_df2[train_app_df2.userId == '0171deea-40bd-4c4e-a1a8-8e316d402051']

,app_start_dateCreated,userId,app_origin,id,InstallDate,productId,model,campaignId
67040,2017-05-15 01:31:24.3600000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
67043,2017-05-15 00:58:52.3620000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
93715,2017-04-15 16:05:43.2570000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
104205,2017-04-06 12:57:58.2510000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
123400,2017-04-19 01:46:37.7370000,0171deea-40bd-4c4e-a1a8-8e316d402051,past,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
149995,2017-07-08 02:11:08.7440000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
155667,2017-07-01 09:36:45.4120000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX
174646,2017-07-10 13:45:27.3450000,0171deea-40bd-4c4e-a1a8-8e316d402051,july,0.0,2000-01-01 00:00:01.0000000,0,XXX,XXXXXX

In [75]:
train_df.head()

,id,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
0,6269194661,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:09.5390000,30,95172.0,672239440,past
1,6269192581,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:47:00.6970000,2,4000.0,673861625,past
2,6269188351,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.9170000,1,14000.0,660764240,past
3,6204426632,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.5970000,64,168000.0,672658544,past
4,6204424112,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.1970000,1,33000.0,660764240,past

In [78]:
train_app_df2.head()

,app_start_dateCreated,userId,app_origin,InstallDate,productId,model,campaignId
0,2017-06-30 14:14:54.7930000,50e72534-a4f4-40d7-96d5-ecbe4eb314e9,past,2017-04-21 13:16:18.5990000,com-bonial-kaufda,sm-g950f,000000
1,2017-06-30 14:03:13.0100000,b3712849-595e-403f-84d2-4698439056b0,past,2017-04-28 15:28:20.5460000,com-bonial-kaufda,sm-g935f,000000
2,2017-06-28 16:26:48.3830000,99cea50b-3ecf-4102-8290-997eaf32a6b6,past,2017-05-09 20:45:19.7230000,com-bonial-kaufda,sm-j510fn,000000
3,2017-06-27 10:23:29.9430000,78c06433-9ea8-4835-aff5-f64b262d0fb4,past,2017-05-15 13:29:37.3770000,com-bonial-kaufda,sm-g900f,000000
4,2017-06-27 10:11:27.6340000,510c5f9e-de54-45ee-909c-c14103130e5e,past,2017-05-07 08:03:04.5730000,com-bonial-kaufda,sm-t561,000000

In [92]:
import datetime as dt

In [97]:
tf2 = train_df[:10].sort_values("brochure_dateCreated").copy()
tf2.head()

,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
9,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:42:57.6700000,2,8000.0,656735412,past
8,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:43:11.0030000,14,351000.0,656735412,past
4,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:02.1970000,1,33000.0,660764240,past
3,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30 23:46:13.5970000,64,168000.0,672658544,past
2,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30 23:46:39.9170000,1,14000.0,660764240,past

In [98]:
tf = train_df[:10].sort_values("brochure_dateCreated").copy()
tf['brochure_dateCreated'] = pd.to_datetime(tf['brochure_dateCreated'], format='%Y-%m-%d')
tf['brochure_dateCreated'] = tf['brochure_dateCreated'].dt.strftime('%Y-%m-%d')
tf.head()

,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
9,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30,2,8000.0,656735412,past
8,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30,14,351000.0,656735412,past
4,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30,1,33000.0,660764240,past
3,fa623647-dfc9-49b4-bbb6-77cbacd599f4,2017-04-30,64,168000.0,672658544,past
2,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-30,1,14000.0,660764240,past

In [86]:
train_df[(train_df.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].sort_values("brochure_dateCreated")

,userId,brochure_dateCreated,page_turn_count,view_duration,brochure_id,origin
59444,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-04 18:04:36.7820000,46,136000.0,663252848,past
55673,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-06 22:05:41.2870000,13,51000.0,663696350,past
52348,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-09 16:57:25.8960000,1,74000.0,660764207,past
52342,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-09 21:59:17.0780000,36,169714.0,666028021,past
50969,9491a960-206a-4a58-9177-e78cb1f05e70,2017-04-09 22:02:14.1670000,20,88000.0,665749310,past
...,...,...,...,...,...,...
280365,9491a960-206a-4a58-9177-e78cb1f05e70,2017-07-23 20:33:41.2160000,14,84000.0,702551081,july
283944,9491a960-206a-4a58-9177-e78cb1f05e70,2017-07-29 21:33:33.5490000,16,38000.0,710392070,july
323181,9491a960-206a-4a58-9177-e78cb1f05e70,2017-07-30 12:30:19.6400000,3,269000.0,685254855,july
302751,9491a960-206a-4a58-9177-e78cb1f05e70,2017-07-31 19:43:17.1000000,46,130000.0,710694479,july
344671,9491a960-206a-4a58-9177-e78cb1f05e70,2017-07-31 19:45:21.0460000,2,6000.0,699564256,july

In [87]:
train_app_df2[(train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].sort_values("app_start_dateCreated")

,app_start_dateCreated,userId,app_origin,InstallDate,productId,model,campaignId
137794,2017-04-02 09:50:54.0000000,9491a960-206a-4a58-9177-e78cb1f05e70,past,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
137771,2017-04-04 18:04:34.0000000,9491a960-206a-4a58-9177-e78cb1f05e70,past,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
137708,2017-04-06 22:05:31.9520000,9491a960-206a-4a58-9177-e78cb1f05e70,past,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
108144,2017-04-09 16:57:25.7560000,9491a960-206a-4a58-9177-e78cb1f05e70,past,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
97430,2017-04-09 21:59:16.9260000,9491a960-206a-4a58-9177-e78cb1f05e70,past,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
...,...,...,...,...,...,...,...
176650,2017-07-23 20:26:28.7380000,9491a960-206a-4a58-9177-e78cb1f05e70,july,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
180219,2017-07-27 18:06:06.2050000,9491a960-206a-4a58-9177-e78cb1f05e70,july,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
157346,2017-07-29 21:33:25.0840000,9491a960-206a-4a58-9177-e78cb1f05e70,july,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
153389,2017-07-30 12:30:14.4000000,9491a960-206a-4a58-9177-e78cb1f05e70,july,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq
168841,2017-07-31 19:43:16.7780000,9491a960-206a-4a58-9177-e78cb1f05e70,july,2017-04-02 09:50:53.0000000,com-bonial-kaufda,GT-I9505,m9l4xq

In [77]:
train_df = train_df.drop(columns='id')
train_app_df2 = train_app_df2.drop(columns='id')

In [ ]:
train_df2 = pd.merge(train_df, train_app_df2,
                        how="left", on=["userId"])
train_df2.shape

(15673569, 12)

In [ ]:
train_app_df2[(train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].productId.unique()

In [ ]:
train_app_df2[(train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].InstallDate.unique()

In [ ]:
train_app_df2[(train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].model.unique()

In [ ]:
train_app_df2[(train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70')].campaignId.unique()

In [ ]:
train_df2.head(10)

In [ ]:
train_app_df2[train_app_df2.userId == '9491a960-206a-4a58-9177-e78cb1f05e70'].head(100)

In [ ]:
train_df[train_df.userId == '9491a960-206a-4a58-9177-e78cb1f05e70'].head(100)

In [ ]:
group = train_df.groupby('userId')

df2 = group.apply(lambda x: x['brochure_id'].unique())

In [ ]:
df2 = df2.apply(pd.Series)
df2.shape

In [ ]:
df2.iloc[:,:20].head()

In [ ]:
len(set(train_df.id.unique()) - set(train_app_df2.id.unique()))

In [ ]:
train_df.id.max(), train_app_df2.id.max()

In [ ]:
train_df.shape

In [ ]:
df = train_df.groupby(['userId', 'brochure_id']).sum('id')
df.shape

In [ ]:
df.head(20)

In [ ]:
df2 = train_df.groupby(['userId', 'brochure_id']).sum('page_turn_count')
df2.shape

In [ ]:
df2.head(20)